export LANGCHAIN_TRACING_V2=true
export LANGCHAIN_API_KEY=ls__7616a5105026488aac57b3c5c9a77c3d
export LANGCHAIN_PROJECT=my-app-test  # if not specified, defaults to "default"
export OPENAI_API_KEY=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